<form [formGroup]="mainForm">
  
  <div class="col-md-4">
    <app-sample-input
      formControlName="name"
      label="Name:"
    ></app-sample-input>
  </div>
  
  <div class="col-md-4">
    <app-sample-radio-group
      formControlName="city"
      label="City:"
      [items]="cities"
      groupName="radioGroup1"
    ></app-sample-radio-group>
  </div>

  <div class="col-md-4">
    <app-sample-date
      formControlName="dateSample"
      label="Date sample:"
      [min]="minDate"
      [max]="maxDate"
    ></app-sample-date>
  </div>

  <app-sample-button
    [disabled]="mainForm.invalid"
    text="Submit"
    (onClick)="submitForm()"
  >
  </app-sample-button>

  <app-sample-button
    text="Reset"
    (onClick)="resetForm()"
  >
  </app-sample-button>
</form>

<router-outlet></router-outlet>